* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    margin-top: 20px;
    margin-left: 20px;
    border: 0px solid;
    
}

.container .title {
    border-left: 18px solid rgb(255, 72, 0);
    font-size: 30px;
}

.container img {
    position: relative;
}

.container .main {
    position: absolute;
    font-size: 38px;
    bottom: -170px;
    width: 600px;
    left: 83px;
    color: white;
}

.container .main-1 {
    margin-top: 17px;
    font-size: 20px;
    font-weight: 550;
    width: 641px;
    color: black;
    text-decoration-line: none;
}

.container .underline {
    border: 1px solid rgb(157, 147, 147);
    margin-bottom: 30px;
    width: 620px;
}
.container .main-2 {
    margin-top: -10px;
    font-size: 20px;
    font-weight: 550;
    width: 641px;
    color: black;
    text-decoration-line: none;
}