*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    border: 1px solid gray;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
.item1{
    background-color: white;
    padding: 10px;
  position: relative;
}
.item2{
    background-color: #D0E2FF;
    padding: 10px;
}
.icon{
    position: relative;
    left: 78%;
}
.main{
    padding: 10px;
    width: 600px;
}
.text{
    font-size: 20px;
}
.text-1{
    color: rgb(178, 113, 124);
}
.item3{
    background-color:white;
    padding: 10px;
    border-top: 1px solid rgb(186, 176, 176);
}